<p style="color: green"><%= notice %></p>

<% content_for :title, "Questions" %>

<h1>Questions</h1>

<%= stylesheet_link_tag "likert", "data-turbo-track": "reload" %>

<% if @questions.any? %>
  <div data-controller="likert">
    <% @questions.each do |question| %>
      <div class="question" data-question-id="<%= question.id %>">
        <p><%= question.content %></p>

        <div class="likert-scale">
          <% (1..5).each do |i| %>
            <span
              class="dot"
              data-action="click->likert#select"
              data-value="<%= i %>">
            </span>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <p>質問がありません。</p>
<% end %>

<%= link_to "New question", new_question_path %>
