<div id="<%= dom_id result %>">
  <p>
    <strong>Code:</strong>
    <%= result.code %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= result.type_id %>
  </p>

  <p>
    <strong>Summary:</strong>
    <%= result.summary %>
  </p>

  <p>
    <strong>Explanation:</strong>
    <%= result.explanation %>
  </p>

</div>
