<!DOCTYPE html>
<html>
  <head>
    <title>Reptype</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body style="
    background-image: 
      url('<%= asset_path('turtle.jpg') %>'), 
      url('<%= asset_path('gecko.jpg') %>'), 
      url('<%= asset_path('frog.jpg') %>'), 
      url('<%= asset_path('snake.jpg') %>');
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: top right, top left, bottom left, bottom right;
    background-attachment: fixed, fixed, fixed, fixed;
    background-size: 200px 200px, 200px 200px, 200px 200px, 200px 200px;  /* 必要に応じてサイズ調整 */
  ">
    <p style="color: green"><%= notice %></p>
    <main>
      <%= yield %>
    </main>
  </body>
</html>